/__tests__
/models
/models/errors
/types
/node_modules
/lib
/sdk
/funcs
/react-query
/hooks
/index.*
/core.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
/.speakeasy/reports
# Environment variables
.env
.env.*
!.env.example
