/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { AtomaSDKCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { Result } from "../types/fp.js";

/**
 * Retrieve node for a given model
 *
 * @remarks
 * This endpoint attempts to find a suitable node and retrieve its public key for encryption
 * through a two-step process:
 *
 * 1. First, it tries to select an existing node with a public key directly.
 * 2. If no node is immediately available, it falls back to finding the cheapest compatible node
 *    and acquiring a new stack entry for it.
 *
 * This endpoint is specifically designed for confidential compute scenarios where
 * requests need to be encrypted before being processed by nodes.
 *
 * ## Errors
 *   - `INTERNAL_SERVER_ERROR` - Communication errors or missing node public keys
 *   - `SERVICE_UNAVAILABLE` - No nodes available for confidential compute
 */
export async function nodesNodesModelsRetrieve(
  client: AtomaSDKCore,
  request: operations.NodesModelsRetrieveRequest,
  options?: RequestOptions,
): Promise<
  Result<
    components.NodesModelsRetrieveResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.NodesModelsRetrieveRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return parsed;
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    model: encodeSimple("model", payload.model, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/v1/nodes/models/{model}")(pathParams);

  const headers = new Headers({
    Accept: "application/json",
  });

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    operationID: "nodes_models_retrieve",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return requestRes;
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["4XX", "500", "503", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return doResult;
  }
  const response = doResult.value;

  const [result] = await M.match<
    components.NodesModelsRetrieveResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, components.NodesModelsRetrieveResponse$inboundSchema),
    M.fail(["4XX", 500, 503, "5XX"]),
  )(response);
  if (!result.ok) {
    return result;
  }

  return result;
}
